<div class="tab-height" style="overflow: auto;">
    <div class="add-link set-border">
        <!-- <ng-container *ngTemplateOutlet="icon; context:{condition: setEnable.newCondition}"></ng-container> -->
        <app-addcard [setEnable]="setEnable.newCondition"></app-addcard>
    </div>
    <form #temp="ngForm" (ngSubmit)="submit(temp)">
        <div cdkDropListLockAxis="y" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of ArrayList;let i=index" cdkDrag>
                <app-logical-operator [operator]="operator" [index]="i"></app-logical-operator>
                <div class="block" [ngStyle]="{'border-top': item.alert ? '2px solid red' : ''}"
                    [ngStyle]="{'border': item.isAlert ? '2px solid red' : ''}">
                    <ng-container *ngIf="item.addIcon else enableQuery">
                        <mat-icon *ngIf="item.removeIcon else openbrace" class="cursor" aria-hidden="false"
                            aria-label="Example home icon" (click)="addIcon(i, item.addIcon, false)">
                            add
                        </mat-icon>
                        <ng-template #openbrace>
                            <span class="query-margin query-margin_1" (click)="addIcon(i, item.addIcon, true)">
                                <a href="javascript:void(0)">&#40;</a>
                            </span>
                        </ng-template>
                    </ng-container>
                    <ng-template #enableQuery>
                        <div class="query-position">
                            <mat-icon (click)="setOpenBrace(i, item.addIcon, item.removeIcon, item.alert, false)">
                                block
                            </mat-icon>
                            <span class="query-margin query-margin_2"
                                (click)="setOpenBrace(i, item.addIcon, item.removeIcon, item.alert, true)">&#40;</span>
                        </div>
                    </ng-template>
                    <div class="input-container" *ngIf="item.hideVaribale else showInput">
                        <input type="text" [(ngModel)]="item.input" #ref="ngModel" name="name{{i}}" class="set-input"
                            (blur)="disableInput(i, item.hideVaribale)" required (input)="changeEvent(ref, isAlert, i)"
                            appAutoFocus />
                    </div>
                    <ng-template #showInput>
                        <span class="set-newmargin" [ngStyle]="{'top': item.addIcon && item.removeIcon ? '5px' : '4px'}"
                            (dblclick)="activeInput(i, item.hideVaribale)">
                            {{item.input || ''}}
                        </span>
                    </ng-template>
                    <ng-container *ngIf="item.closeIcon else addQuery">
                        <mat-icon *ngIf="item.closeBrace else close" class="cursor set-right" aria-hidden="false"
                            aria-label="Example home icon" (click)="closeIcon(i, item.closeIcon)">
                            add
                        </mat-icon>
                        <ng-template #close>
                            <span class="disable-outline">
                                <input type=submit value=")" />
                            </span>
                        </ng-template>
                    </ng-container>
                    <ng-template #addQuery>
                        <div class="close-brace">
                            <mat-icon (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, item.alert, false)">
                                block
                            </mat-icon>
                            <span class="query-margin query-margin_2"
                                (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, item.alert, true)">&#41;</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </form>
</div>