<div class="tab-height" style="overflow: auto;">
    <div class="add-link set-border">
        <!-- <ng-container *ngTemplateOutlet="icon; context:{condition: setEnable.newCondition}"></ng-container> -->
        <app-addcard [setEnable]="setEnable.newCondition"></app-addcard>
    </div>
    <form #temp="ngForm" (ngSubmit)="submit(temp)">
        <div cdkDropListLockAxis="y" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of List;let i=index" cdkDrag>
                <app-logical-operator [operator]="operator" [index]="i"></app-logical-operator>
                <div class="block" [ngStyle]="{'border-top': item.alert ? '2px solid red' : ''}">
                    <ng-container *ngIf="item.addIcon else enableQuery">
                        <mat-icon *ngIf="item.removeIcon else openbrace" class="cursor" aria-hidden="false"
                            aria-label="Example home icon" (click)="addIcon(i, item.addIcon)">
                            add
                        </mat-icon>
                        <ng-template #openbrace>
                            <span class="query-margin">
                                <a href="javascript:void(0)">&#40;</a>
                            </span>
                        </ng-template>
                    </ng-container>
                    <ng-template #enableQuery>
                        <div class="query-position">
                            <mat-icon (click)="setOpenBrace(i, item.addIcon, item.removeIcon, item.alert, false)">
                                block
                            </mat-icon>
                            <span class="query-margin"
                                (click)="setOpenBrace(i, item.addIcon, item.removeIcon, item.alert, true)">&#40;</span>
                        </div>
                    </ng-template>


                    <!-- <select (change)="select($event, i)" class="selectStyle">
              <option *ngFor="let ListItem of keyValues; let k=index" value={{k}}>
                {{ListItem}}
              </option>
            </select> -->

                    <!-- <mat-form-field appearance="fill">
              <mat-label>Favorite food</mat-label>
              <mat-select [(value)]=item.selected>
                <mat-option *ngFor="let food of keyValues;let k=index" value={{k}}>
                  {{food}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
                    <div class="input-container" *ngIf="item.hideVaribale else showInput">
                        <input type="text" [(ngModel)]="item.input" name="name{{i}}" class="set-input" (blur)="disableInput(i, item.hideVaribale)"/>
                    </div>
                    <ng-template #showInput>
                        <span class="set-newmargin"
                            [ngStyle]="{'top': item.addIcon && item.removeIcon ? '11px' : '4px'}"
                            (dblclick)="activeInput(i, item.hideVaribale)">
                            {{item.input || 'variable'+i}}
                        </span>
                    </ng-template>
                    <ng-container *ngIf="item.closeIcon else addQuery">
                        <mat-icon *ngIf="item.closeBrace else close" class="cursor set-right" aria-hidden="false"
                            aria-label="Example home icon" (click)="closeIcon(i, item.closeIcon)">
                            add
                        </mat-icon>
                        <ng-template #close>
                            <span class="disable-outline">
                                <input type=submit value=")" />
                            </span>
                        </ng-template>
                    </ng-container>
                    <ng-template #addQuery>
                        <div class="close-brace">
                            <mat-icon (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, item.alert, false)">
                                block
                            </mat-icon>
                            <span class="query-margin"
                                (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, item.alert, true)">&#41;</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </form>
</div>