<div class="container">
  <mat-card [ngStyle]="{'background-color': '#f7f9fa'}">
    <mat-card-title class="title">Node Space test</mat-card-title>
    <mat-card-content>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Condition">
          <div *ngIf="setEnable.isEnable else block" class="tab-height set-margin add-link">
            <ng-container *ngTemplateOutlet="icon; context:{condition: setEnable.addCondition}"></ng-container>
          </div>
          <ng-template #block>
            <div class="tab-height" style="overflow: auto;">
              <div class="add-link set-border">
                <ng-container *ngTemplateOutlet="icon; context:{condition: setEnable.newCondition}"></ng-container>
              </div>
              <form #temp="ngForm" (ngSubmit)="submit(temp)">
                <div cdkDropListLockAxis="y" cdkDropList (cdkDropListDropped)="drop($event)">
                  <div *ngFor="let item of List;let i=index" cdkDrag>
                    <div *ngIf="button[i].buttonHide" mat-stroked-button class="condition-margin"
                      (click)="toggleQuery(i, button[i].Query.setQuery)">
                      <input type="button" name="query{{i}}" class="form-control"
                        [(ngModel)]="button[i].Query.QueryName" />
                    </div>

                    <div class="block" (dblclick)="activeInput(i)"
                      [ngStyle]="{'border-top': item.alert ? '2px solid red' : ''}">
                      <ng-container *ngIf="item.addIcon else enableQuery">
                        <mat-icon *ngIf="item.removeIcon else openbrace" class="cursor" aria-hidden="false"
                          aria-label="Example home icon" (click)="addIcon(i, item.addIcon)">
                          add
                        </mat-icon>
                        <ng-template #openbrace>
                          <span class="query-margin">
                            <a href="javascript:void(0)">&#40;</a>
                          </span>
                        </ng-template>
                      </ng-container>
                      <ng-template #enableQuery>
                        <div class="query-position">
                          <mat-icon (click)="setOpenBrace(i, item.addIcon, item.removeIcon, false)">
                            block
                          </mat-icon>
                          <span class="query-margin"
                            (click)="setOpenBrace(i, item.addIcon, item.removeIcon, true)">&#40;</span>
                        </div>
                      </ng-template>


                      <select (change)="select($event, i)" class="selectStyle">
                        <option *ngFor="let ListItem of keyValues; let k=index" value={{k}}>
                          {{ListItem}}
                        </option>
                      </select>

                      <!-- <mat-form-field appearance="fill">
                        <mat-label>Favorite food</mat-label>
                        <mat-select [(value)]=item.selected>
                          <mat-option *ngFor="let food of keyValues;let k=index" value={{k}}>
                            {{food}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->


                      <span *ngIf="item.hideVaribale else showInput" [ngClass]="{'set-position': setEnable.setPosition}"
                        class="set-newmargin" [ngStyle]="{'top': item.addIcon && item.removeIcon ? '11px' : '4px'}">
                        {{item.input || 'variable'+i}}
                      </span>
                      <ng-template #showInput>
                        <div class="input-container">
                          <input type="text" [(ngModel)]="item.input" name="name{{i}}" class="set-input" />
                        </div>
                      </ng-template>
                      <ng-container *ngIf="item.closeIcon else addQuery">
                        <mat-icon *ngIf="item.closeBrace else close" class="cursor set-right" aria-hidden="false"
                          aria-label="Example home icon" (click)="closeIcon(i, item.closeIcon)">
                          add
                        </mat-icon>
                        <ng-template #close>
                          <span class="disable-outline">
                            <input type=submit value=")" />
                          </span>
                        </ng-template>
                      </ng-container>
                      <ng-template #addQuery>
                        <div class="close-brace">
                          <mat-icon (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, false)">
                            block
                          </mat-icon>
                          <span class="query-margin"
                            (click)="setCloseBrace(i, item.closeIcon, item.closeBrace, true)">&#41;</span>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>

        </mat-tab>
        <mat-tab label="Description">
          <div class="tab-height">
            Content 2
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <div class="filterStyle">
    MOCKDATA TO TEST QUERY FILTER: {{query.mockData | json}}
  </div>
  <div class="filterStyle">
    FILTER DATA: {{query.resultData | json}}
  </div>
</div>

<ng-template #icon let-enable="condition">
  <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon" (click)="enable()">
    add
  </mat-icon>
  <span class="set-position">New Condition</span>
</ng-template>





<!-- <div cdkDropListLockAxis="y" cdkDropList (cdkDropListDropped)="drop1($event)">
  <div *ngFor="let item of [1,2,3]">
    <div #temp9 style="padding: 2em;border: 1px solid red" cdkDrag>
      {{item}}
    </div>
  </div>
</div> -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of [1,2,3]">
      {{food}}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<div>
  hii
</div>